html {
  background-color: black;
  color: white;
  font-family: Helvetica;
}
.no_outline {
  border-color: white;
  background-color: black;
  color: white;
  border-style:solid;
  border-width: 1px;
  border-radius: 2px;
}
.inline-div {
  display: inline-block;
  padding: 10px;
  border-color: white;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
}
.hidden {
  display: none;
}
#up_quark_op {
  border-color: rgb(90, 26, 26);
  color: rgb(90, 26, 26);
  box-shadow: 0px 0px 40px -3px rgba(90, 26, 26,1), inset 0px 0px 40px -3px rgba(90, 26, 26,0.5);
  border-style: solid;
  background-color: black;
}
#down_quark_op {
  border-color: rgb(32, 26, 90);
  color: rgb(32, 26, 90);
  box-shadow: 0px 0px 40px -3px rgba(32, 26, 90,1), inset 0px 0px 40px -3px rgba(32, 26, 90,0.5);
  border-style: solid;
  background-color: black;
}
.button {
  border-color: white;
  background-color: black;
  color: white;
  border-style:solid;
  border-width: 1px;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.button:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}
.button:active {
  transform: scale(1.15);
  background-color: white;
  color: black;
  transition: all 0.5s ease-out;
}
breakline::after {
  content: "\A";
  white-space: pre;
}